
#main {
    margin-top: 2%;
    margin-bottom: 2%;
}
#input {
    width: 70%;
    margin-bottom: 3%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: Thin;
    font-weight: 100;
    margin-bottom: 0;
}
.svg-container {
    text-align: center;
    width: 60%;
}