
#main {
    margin-top: 2%;
    margin-bottom: 2%;
}
#input {
    width: 70%;
    margin-bottom: 3%;
}

#input:focus {
    border-bottom: 1px solid #039be5 !important;
    box-shadow: 0 1px 0 0 #039be5 !important
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: Thin;
    font-weight: 100;
    margin-bottom: 0;
}
.svg-container {
    text-align: center;
    width: 60%;
}